{{#each accommodation as |hotel|}}
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail image-hotels">
      <img src={{hotel.links.thumbnailImage.href}} alt="">
      <div class="caption">
        <h4 class="pull-right"></h4>
        <h4 class="name-hotel">{{#link-to 'hotelselect' hotel.id hotel.rooms.[0].rates.[0].rateToken tagName="li"}}<a href="">{{hotel.name}}</a>{{/link-to}}
        </h4>
        <p class="hotel-description">{{hotel.description}}</p>
      </div>
      <div class="ratings">
          <p class="pull-right quantity-available">Quantidade de vagas: {{hotel.rooms.[0].quantityAvailable}}</p>
          {{#if hotel.rooms.[0].isAvailable}}
              <p class="quantity-available-status">Disponível</p>
              {{else}}
            <p class="quantity-available-status">
              Indisponível
            </p>
          {{/if}}
      </div>
    </div>
  </div>
{{/each}}
