<div class="row">
  <div class="thumbnail titulo-hotel-selecionado">
    <div class="caption-full">
      <h4 class="pull-right"></h4>
        <h3><a href="#">{{accomodation.category}}</a>
      </h3>
      <h3><a>Itens incluidos Grupo {{accomodation.rates.[0].packageGroup}}</a></h3>
      <ul class="list-group">
        {{#each accomodation.rates.[0].contents as |content|}}
            <li class=="list-group-item"><h4>{{content.description}}</h4></li>
        {{/each}}
        {{#each accomodation.rates.[0].contents.[0].items as |intem|}}
            <li class=="list-group-item"><h4>{{intem.description}}</h4></li>
        {{/each}}
      </ul>
      <small>{{accomodation.mealPlan}} Quantidade de vagas: {{accomodation.quantityAvailable}}<a target="_blank" href=""></a></small>
    </div>
  </div>
</div>

<h2>{{accomodation.name}}</h2>
